@font-face {
    font-family: 'Impact';
    src: url('./font/Impact.woff2'),
        url('./font/Impact.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('./font/lato-regular-webfont.woff2'),
         url('./font/lato-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

